<div class="attendees-box">
    <div class="attendees-index">
        <h2 class="attendees-titile">チャレンジャーズ参加者</h2>
        
        <div class="attendees-name-area">
             <%= render partial: 'attendee', collection: @attendees %>
        </div>
        <div class="entry-btn">
            <%= link_to "くじに参加する", "/attendees/new" %>
        </div>
    </div>
</div>