<div class="attendees-box">
    <div class="winners-index">
        <h2 class="attendees-titile">当選者一覧</h2>
        <div class="attendees-name-area">
             <%= render partial: 'winner', collection: @winners %>
        </div>
    </div>
</div>