@charset "UTF-8"

html {
font-size: 62.5%;
}
body {
  height: 100%;
  color: #333;
  font-size: 1.5rem;
  font-family: "Hiragino Kaku Gothic Pron", Meiryo, sans-serif;
  position: relative;
}
a:link {
  text-decoration: none;
  color: #d03c56;
}
/*-----------Form--------------*/ 
.contents.row {
    width: 50%;
    margin: 0 0 0 480px;
    background: #fff;
}
.field {
    margin-bottom: 10px;
}
input[type="email"] {
  border: solid 1px #aaa;
  border-radius:5px;
  padding:10px;
  font-size: 15px;
  width: 50%;
  margin: 0 auto;
}
input[type="password"] {
  width: 50%;
  border: solid 1px #aaa;
  border-radius:5px;
  padding:10px;
  font-size: 15px;
}
input[type="submit" i] {
    width: 100%;
    text-align: center;
    border-radius: 5px;
    border: solid #0297E0;
    background-color: #0297E0;
    color: #fff;
}

/*-----------HEADER--------------*/ 
.header {
    width: 100%;
    background: #0297E0;
    border: solid 1px #aaa
}
.title {
    text-align: center;
    margin: 30px auto 0;
}
.title a {
    color: #fff;
}

.header_btn_area {
    display: flex;
    justify-content: flex-end;
}

.header_menu_btn {
    display: inline-block;
    list-style: none;
    text-align: center;
    margin-right: 10px;
    padding: 10px;
    border-radius: 6px;
    border: solid 0.5px;
    border-color: #FFFFFF
}
.header_menu_btn a {
    color:#fff;
}
.top_menu {
    margin: 40px auto 0;
}
/*-----------HEADER END--------------*/ 

/*------------NEW START--------------*/
.top_message {
    text-align: center;
}
.global-nav {
    text-align: center;
}
ul {
    text-align: center;
}
.menu_btn_top {
    width: 25%;
    text-align: center;
    list-style: none;
    background-color: #0190d5;
    border-radius: 6px;
    margin: 20px auto 0;
    padding: 5px 10px;
}
.menu_btn_top a {
    color: #fff;
}
input[type="text" i] {
    width: 25%;
    text-align: left;
    padding: 5px 10px;
}
input[type="submit" i] {
    width: 25%;
}
/*------------NEW END--------------*/ 

/*------------attendees-box--------------*/ 
.attendees-box {
    width: 50%;
    margin: 40px auto 0;
    text-align: center;
    
}
.attendees-index {
    position: relative;
    
}
.attendees-titile {
    width: 50%;
    margin: 0 auto;
}
.attendees-number {
    
}
.attendees-name-area {
    margin: 30px 200px;
}
.attendees-name {
    text-align: left;
    margin-top: 20px;
}
.name-delete {
}
.entry-btn,
.entry-btn:hover,
.entry-btn:visited{
  display: block;
  height: 28px;
  width: 20%;
  margin-left: 30%;
  padding-left:1px;
  text-decoration: none;
  line-height: 30px;
  text-align: center;
  color: #7d8383;
  text-shadow: 0px 1px 0px #fafafa;
  background: #fbfaf4;
  background: -webkit-gradient(linear, left top, left bottom, from(#fbfaf4), to(#ece8e6));
  background: -moz-linear-gradient(top,  #fbfaf4,  #ece8e6);
  background: -o-linear-gradient(top,  #fbfaf4,  #ece8e6);
  background: -ms-linear-gradient(top,  #fbfaf4,  #ece8e6);
  background: linear-gradient(top,  #fbfaf4,  #ece8e6);
  border: 1px solid #dcd9d8;
  border-bottom: 1px solid #c1c1bd;
  -webkit-box-shadow:  0 0 1px #c7c5c1;
  -moz-box-shadow:  0 0 1px #c7c5c1;
  box-shadow:  0 0 1px #c7c5c1;
  -webkit-border-radius: 5px; 
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  -o-transition: 0.3s;
  -ms-transition: 0.3s;
  transition: 0.3s;
}
 
.entry-btn:hover { /*マウスホバー時*/
  color:#9a9f9f;
  background: #fbfbf9;
}
 
.entry-btn:active{  /* ボタンを押したとき */
  background:#ece8e4;
  border: none;
  box-shadow:  0 1px 1px #cccbc9, inset 0 0 1px rgba(0, 0, 0, 0.3);
}


/*------------number-select--------------*/
.number-select {
    width: 50%;
    text-align: center;
    margin: 40px auto 40px;
}
input[type="number" i] {
    width: 30%;
    margin-bottom: 15px;
    padding: 5px 5px;
}
.select-message {
    font-size: 2.0rem;
}
.sucsess-btn-area {
}
.btn-area {
    list-style: none;
    width: 35%;
    background-color: #0190d5;
    border-radius: 6px;
    margin: 20px auto 0;
    padding: 5px 10px;
    
}
.btn-area a {
    color: #fff;
}
